{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Fridge{% endblock %}
{% load core_filters %}

{% block content %}

{% if request.user.is_authenticated %}
    <script src="{% static 'js/fridge/edit_fridge_handler.js' %}" defer></script>
{% else %}
    <script src="{% static 'js/fridge/edit_fridge_anon_handler.js' %}"defer></script>
{% endif %}

<div class="container-home" style="margin-top: 1rem;">

    <h2>{{ item.ingredient.name|title_except }} Stock</h2>

    <form method="post" novalidate>
        {% csrf_token %}
                {% include "messages/errors_label.html" %}
<!--AUTH-->
        {% if request.user.is_authenticated %}

            <label>Quantity</label>
            <input type="number" id="quantityInput"
                   value="{{ form.quantity.value|floatformat:2 }}"
                   step="0.01" min="0">
            <input type="hidden" id="quantityTrue"
                   name="quantity"
                   value="{{ form.quantity.value }}">


            <label style="margin-top: 1rem;">Unit</label>
            <select id="unitSelect" name="unit" onchange="convertQuantity(this)">
                {% for mu in ingredient_units %}
                    <option value="{{ mu.unit.id }}"
                            data-conversion="{{ mu.conversion_to_base }}"
                            {% if mu.unit.id == item.unit.id %}selected{% endif %}>
                        {{ mu.unit.name_singular }}
                    </option>
                {% endfor %}
            </select>
<!--ANON-->

{% else %}
    <label>Quantity</label>
    <input type="number" id="quantityInput"
           value="{{ quantity|floatformat:2 }}"
           step="0.01" min="0">

    <input type="hidden" id="quantityTrue"
           name="quantity"
           value="{{ quantity }}">



    {# Make anon_index available to JS #}
    <input type="hidden" id="anonIndex" value="{{ anon_index }}">


    <label style="margin-top: 1rem;">Unit</label>
    <select id="unitSelect" name="unit" onchange="convertQuantity(this)">
        {% for mu in ingredient_units %}
            <option value="{{ mu.unit.id }}"
                    data-conversion="{{ mu.conversion_to_base }}"
                    {% if mu.unit.id == unit_id %}selected{% endif %}>
                {{ mu.unit.name_singular }}
            </option>
        {% endfor %}
    </select>
{% endif %}

        <div style="margin-top: 2rem;">

        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'manage_fridge' %}" class="btn btn-secondary">Cancel</a>
        </div>

    </form>
</div>


{% endblock %}