{% extends 'base.html' %}
{% load static %}
{% block title %}Add Ingredient{% endblock %}

{% block content %}

{% include 'global_reusable/_quick_add_modal.html' %}
{% include 'global_reusable/_manage_list_modal.html' %}

<script src="{% static 'js/zeroInputTableHandler.js' %}" defer></script>
<script src="{% static 'js/crud/fetch_and_manage.js' %}" defer></script>



<div class="main-first-child-container-padding">
    <div class="flex-row-flex-end">
        <a href="javascript:history.back()" class="btn-wine-small">Back</a>
    </div>

    <h2 class="section-huge-title ranchers-regular">Add Ingredient</h2>

    <form id="add-ingredient-form" method="post" action="{% url 'add_ingredient' %}" novalidate>
        {% csrf_token %}
        {% include "messages/errors_label.html" %}

        <div class="flex-row-flex-start mb-6" style="align-items: flex-start;">
                <div class="form-group">

                    <div class="flex-column-flex-start">
                        {{ form.name.label_tag }} {{ form.name }}
                    </div>

                    <div class="flex-column-flex-start">
                        {{ form.category.label_tag }}
                        {{ form.category }}

                        <div class="small-round-buttons-parent mt-3 mb-8">
                            <button type="button" class="btn-small-round" title="Add new category"
                                onclick="openQuickModal('Add Category', '{% url "add_category_ajax" %}', 'id_category')">+</button>
                            <button type="button" class="btn-small-round" title="Manage categories"
                                onclick="fetchAndManage('{% url "list_categories_ajax" %}', 'Manage Categories')">⋯</button>
                        </div>
                    </div>

                    <div class="flex-column-flex-start">
                        <div>
                            {{ form.dietary_tag.label_tag }}
                            {{ form.dietary_tag }}
                        </div>
                        <div class="small-round-buttons-parent mt-3 mb-8">
                            <button type="button" class="btn-small-round" title="Add new dietary tag""
                                onclick="openQuickModal('Add Dietary Tag', '{% url "add_dietary_tag_ajax" %}', 'id_dietary_tag')">+</button>
                            <button type="button" class="btn-small-round" title="Manage dietary tags"
                                onclick="fetchAndManage('{% url "list_dietary_tags_ajax" %}', 'Manage Dietary Tags')">⋯</button>
                        </div>
                    </div>


                    <div class="flex-column-flex-start">

                        {{ form.default_unit.label_tag }}
                        {{ form.default_unit }}
                        <div class="small-round-buttons-parent mt-3 mb-8">
                            <button type="button" class="btn-small-round" title="Create new unit"
                                onclick="openQuickModal(
                                    'Create Measurement Unit',
                                    '{% url "add_measurement_unit_ajax" %}',
                                    'id_default_unit',
                                    [{key:'code', placeholder:'Code (e.g. g, ml, pc)'},
                                     {key:'name_singular', placeholder:'Singular (e.g. gram)'},
                                     {key:'name_plural', placeholder:'Plural (e.g. grams)'}]
                                )">+</button>
                            <button type="button" class="btn-small-round" title="Manage units"
                                onclick="fetchAndManage('{% url "list_measurement_units_ajax" %}', 'Manage Units')">⋯</button>
                        </div>
                    </div>

                    <div class="flex-column-flex-start">
                        {{ form.base_quantity.label_tag }} {{ form.base_quantity }}
                        <p style="color: var(--wine)">This is the reference amount all nutrient values are calculated for. For example, if base quantity is 100g, all nutrients below represent what's in 100g of this ingredient.</p>
                    </div>

                    <div style="display: flex; gap: 0.5rem; flex-wrap: wrap; justify-content: flex-start; margin-top: 1rem;">
                        <button type="submit" class="btn-mint-small" style="font-size: 1rem;">Save</button>
                        <a href="{% url 'manage_ingredients' %}" class="btn-wine-small">Cancel</a>
                    </div>
                </div>

                <div>
                    <div class="nutrient-inputs-grid form-group" style="grid-template-columns: repeat(3, 1fr); min-width: 35rem">
                        {% for nutrient in form %}
                            {% if "base_quantity_" in nutrient.name and nutrient.name != "base_quantity" %}
                            <div class="nutrient-item">
                                {{ nutrient.label_tag }} {{ nutrient }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
        </div>



    </form>

</div>

{% endblock %}