{% extends 'base.html' %}
{% load static %}


{% block title %}
Add Recipe
{% endblock %}

{% block content %}

{% include 'recipes/add_ingredients_to_recipe_modal.html' %}
{% include 'global_reusable/_quick_add_modal.html' %}
{% include 'global_reusable/_manage_list_modal.html' %}

<script src="{% static 'js/ingredientRecipe/addIngredientToRecipe.js' %}" defer></script>
<script src="{% static 'js/crud/fetch_and_manage.js' %}" defer></script>

<div id="recipe-meta"
     data-mode="add"
     style="display:none;">
</div>
<div class="main-first-child-container-padding">


    <div class="flex-row-flex-end" style="margin-bottom: 0rem;">
        <a href="javascript:history.back()" class="btn-wine-small">Back</a>
    </div>

    <h2 class="section-huge-title ranchers-regular">Add Recipe</h2>

    <form method="post" action="{% url 'add_recipe' %}" novalidate>
        {% csrf_token %}
        {% include "messages/errors_label.html" with form=recipe_form %}

        {{ ingredient_formset.management_form }}


       <div class="flex-row-flex-start styled-input" style="align-items: flex-start;">
            <div class="form-group grid-container">
                <div class="mb-6">
                   {{ recipe_form.name.label_tag }} {{ recipe_form.name }}
                </div>

                <div class="mb-6">
<!-- Category -->
                    {{ recipe_form.category.label_tag }}
                        {{ recipe_form.category }}

                    <div style="display:flex; align-items:center; gap:0.4rem;">
                        <button type="button" class="btn-small-round mt-3" style="margin-bottom: 0rem;" title="Add new category"
                            onclick="openQuickModal('Add Recipe Category', '{% url "add_recipe_category_ajax" %}', 'id_category')">+</button>
                        <button type="button" class="btn-small-round mt-3" style="margin-bottom: 0rem;" title="Manage categories"
                            onclick="fetchAndManage('{% url "list_recipe_categories_ajax" %}', 'Manage Categories')">⋯</button>
                    </div>

                </div>

                <div class="mb-6">

                   {{ recipe_form.servings.label_tag }} {{ recipe_form.servings }}
                </div>

                <h2 class="section-title ranchers-regular">Cooking Time</h2>
                    <div class="flex-row-flex-start" style="width: 50%;">
                        <div>
                            <label>HOURS:</label>
                            {{ recipe_form.hours }}
                        </div>
                        <div>
                            <label>MINUTES:</label>
                            {{ recipe_form.minutes }}
                        </div>
                    </div>

               </div>

                <div class="form-group grid-container">

                        <p>{{ recipe_form.instructions.label_tag }} {{ recipe_form.instructions }}</p>
               </div>
           </div>


            <h2 class="section-title ranchers-regular">Ingredients</h2>
            <div id="ingredientsContainer">
                {% include 'global_reusable/add_button.html' %}


            </div>

            <div class="mt-6">
                <button type="submit" class="btn-mint-small">Save Recipe</button>
                <button type="button" class="btn-wine-small" onclick="window.location.href='{% url 'manage_recipes' %}'">Cancel</button>
            </div>


        </form>
</div>


{% endblock %}