{% load static %}

<div id="deleteModal" class="delete-modal">
    <div class="recipe-modal-content">
        <button class="close-button" onclick="closeDeleteModal()">&times;</button>
        <h3 id="deleteModalTitle">Delete Recipe</h3>
        <p id="deleteModalText">Are you sure you want to delete this recipe?</p>
        <form id="deleteForm" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn-wine-small">Yes, Delete</button>
        </form>
        <button class="btn-wine-small" onclick="closeDeleteModal()">Cancel</button>
    </div>
</div>
