{% extends 'base.html' %}
{% load static %}
{% load recipe_extras %}
{% load core_filters %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recipe_styles.css' %}">

{% include 'recipes/delete_recipe_modal.html' %}

<script src="{% static 'js/crud/delete_popup.js' %}" defer></script>

<div class="main-first-child-container-padding">
    <div id="mobile-hide" class="flex-row-flex-end">
        <a href="javascript:history.back()" class="btn-mint-small">← Back</a>
        <a href="{% url 'edit_recipe' recipe.pk %}" class="btn-mint-small">Edit</a>
        <a href="{% url 'manage_recipes' %}" class="btn-mint-small">All Recipes</a>
        <button class="btn-wine-small" style="margin-left: auto;" onclick="openDeleteModal('recipe', {{ recipe.pk }}, '{{ recipe.name|escapejs }}')">Delete</button>

    </div>




    <!-- Info + Ingredients Grid -->
        <h2 class="section-huge-title ranchers-regular">{{ recipe.name|title_except }}</h2>
        <div id="mobile-column" class="flex-row-flex-start" style="align-items: flex-start;">

                <table class="data-table">
                    <tbody>
                        <tr>
                            <th>Category</th>
                            <td>{{ recipe.category.name|default:"-"|title_except }}</td>
                        </tr>

                        <tr>
                            <th>Dietary Info</th>
                            <td>{{ recipe.dietary_info|default:"-"|title_except }}</td>
                        </tr>

                        <tr>
                            <th>Cooking Duration</th>
                            <td>{{ recipe.cooking_duration|default:"-" }}</td>
                        </tr>

                        <tr>
                            <th>Kcal per Serving</th>
                            <td>{{ recipe.kcal_per_serving|default:"-" }}</td>
                        </tr>

                        <tr>
                            <th>Servings</th>
                            <td>{{ recipe.servings|default:"-" }}</td>
                        </tr>

                        <tr>
                            <th>Created by</th>
                            <td>{{ recipe.created_by|default:"-" }}</td>
                        </tr>

                       <tr>
                            <th>Updated by</th>
                            <td>{{ recipe.updated_by|default:"-" }}</td>
                        </tr>

                        </tbody>
                    </table>


                <div style="min-width: 500px;">

                    <h2 class="section-title ranchers-regular">Instructions</h2>
                    <div style="color: color-mix(in srgb, var(--wine) 70%, black);">{{ recipe.instructions|capfirst|linebreaks }}</div>
                </div>

        </div>

        <h2 class="section-title ranchers-regular">Ingredients</h2>
        <table class="data-table">
            <tbody>
                {% for ing, qtys in recipe.quantity_ingredients_list_all_units %}
                    <tr>
                        <td>{{ ing.name|title_except }}</td>
                        <td>{{ qtys }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2">No ingredients added.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- Nutrients Grid -->
<h2 class="section-title ranchers-regular" style="margin-top: 3rem; margin-bottom: 0rem;">Nutrients</h2>

<div class="nutrients-tables" style="max-width: 100%">
    <table class="data-table">
        <thead>
            <tr><th colspan="2">Nutrients (Per Serving - 1/{{ recipe.servings|default:"-" }}) </th></tr>
        </thead>
        <tbody>
            {% for nutrient, value in recipe.nutrients_per_serving_with_units.items %}
                <tr>
                    <td>{{ nutrient|nice_name }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="2">No nutrient info.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="data-table">
        <thead>
            <tr><th colspan="2">Nutrients (Total)</th></tr>
        </thead>
        <tbody>
            {% for nutrient, value in recipe.nutrients_with_units.items %}
                <tr>
                    <td>{{ nutrient|nice_name }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="2">No nutrient info.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <div id="mobile-hide-2" class="flex-row-flex-end mt-8">
        <a href="javascript:history.back()" class="btn-wine-small">← Back</a>
        <a href="{% url 'manage_recipes' %}" class="btn-mint-small">All Recipes</a>
    </div>

</div>

{% endblock %}