.nutrients-tables {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: 0;
    max-width: 500px;
}

#add-ingredient-form {
    .flex-row-flex-start {
        margin-bottom: 2rem;
    }


}


.nutrients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 600px) {
    .nutrients-grid {
        grid-template-columns: 1fr;
    }
}

.nutrient-columns {
    column-count: 3;
    column-gap: 1.5rem;
}

.nutrient-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.nutrient-inputs-grid {
    display: grid;
    gap: 1rem;
}