{% extends 'base.html' %}
{% load static %}

{% block title %}
Foodganizer Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage_styles.css' %}">
<script src="{% static 'js/homepage/handleCardSlider.js' %}" defer></script>

<div class="hero">

  <div class="hero-text-btn">
    <div>
      <h1 class="ranchers-regular">
          Track your <span class="highlight">Meals</span>,<br>
          Achieve your <span class="highlight">Food </span>Goals!
      </h1>
    </div>

    <p>The Foodganizer offers Meal Ideas, based on what is already in your fridge; Grocery Lists from your favourite recipes; and much more! </p>

    <div class="btns-home">
        <a href="#" class="primary">Grocery List</a>
        <a href="#" class="secondary">Meal Ideas</a>
    </div>

  </div>

  <div class="hero-logo">
    <img src="{% static 'images/circle-logo.svg' %}" alt="foodganizer-logo">
  </div>

</div>

<div class="card-sections">

    <section class="card-section">
        <div class="slider-wrap">
            <button class="slider-arrow prev" aria-label="Previous">&#8249;</button>

            <div class="cards" data-slider>
                {% for card in cards %}
                  {% include "core/_card.html" %}
              {% endfor %}
            </div>

            <button class="slider-arrow next" aria-label="Next">&#8250;</button>
        </div>
        <div class="slider-dots"></div>
    </section>

</div>

{% endblock %}