{% extends 'base.html' %}
{% load static %}

{% block title %}
Foodganizer Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage_styles.css' %}">

<div class="hero">
    <img class="hero-bg" src="{% static 'images/cucumber_tomato.svg' %}" alt="Tomato">

</div>


<div class="container-home-head">
    <h2>Ready to get ahead of your meal planning?</h2>
    <p>Start your journey below:</p>
</div>


<div class="cards">

  <a href="{% url 'generate_grocery_list' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/ingredients_card.png" alt="">
      </div>
      <div class="card-content">
        <p>Get a personalized grocery list</p>
      </div>
      <div class="card-wave">
        <p class="title">Generate Grocery List</p>
      </div>
    </div>
  </a>

  <a href="{% url 'user_grocery_list' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/ingredients_card.png" alt="">
      </div>
      <div class="card-content">
        <p>Your saved grocery list</p>
      </div>
      <div class="card-wave">
        <p class="title">View Grocery List</p>
      </div>
    </div>
  </a>

  <a href="{% url 'meal_suggestions' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/meal_suggest.png" alt="">
      </div>
      <div class="card-content">
        <p>See what you can cook right now with the ingredients in your fridge!</p>
      </div>
      <div class="card-wave">
        <p class="title">Meal Suggestions</p>
      </div>
    </div>
  </a>

  <a href="{% url 'meal_list' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/ingredients_card.png" alt="">
      </div>
      <div class="card-content">
        <p>Your saved meals</p>
      </div>
      <div class="card-wave">
        <p class="title">Your Meals</p>
      </div>
    </div>
  </a>

  <a href="{% url 'manage_recipes' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/recipes_card.png" alt="">
      </div>
      <div class="card-content">
        <p>Edit and organize recipes</p>
      </div>
      <div class="card-wave">
        <p class="title">Manage Recipes</p>
      </div>
    </div>
  </a>

  <a href="{% url 'manage_fridge' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/fridge_card.png" alt="">
      </div>
      <div class="card-content">
        <p>Track what’s in your fridge</p>
      </div>
      <div class="card-wave">
        <p class="title">Update Fridge</p>
      </div>
    </div>
  </a>

  <a href="{% url 'manage_ingredients' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/ingredients_card.png" alt="">
      </div>
      <div class="card-content">
        <p>Browse ingredients, or introduce new flavours to the Foodganizer!</p>
      </div>
      <div class="card-wave">
        <p class="title">Manage Ingredients</p>
      </div>
    </div>
  </a>

  <a href="{% url 'calorie-tracker' %}" class="card">
    <div class="card-inner">
      <div class="card-img">
        <img src="/static/images/ingredients_card.png" alt="">
      </div>
      <div class="card-content">
        <p>Coming soon</p>
      </div>
      <div class="card-wave">
        <p class="title">Calorie Tracker</p>
      </div>
    </div>
  </a>

</div>


{% endblock %}
