{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/main/secondary.css' %}">


<div class="main-first-child-container-padding">

    <div class="flex-row-space-between">
        <div>
            <h2 class="section-title ranchers-regular">Profile</h2>
            <p class="section-description">Your account information</p>
        </div>
        <a href="{% url 'edit_profile' %}" class="a-btn">Edit Profile</a>
    </div>

    {% include 'users/_profile_card.html' %}

    <a href="{% url 'biometrics' %}" class="filter-submit btn-small-fixed">Biometrics</a>
    <a href="{% url 'change_password' %}" class="filter-submit btn-small-fixed">
        Change Password
    </a>
</div>
{% endblock %}