{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403 - Forbidden</title>
  <link rel="stylesheet" href="{% static 'css/404.css' %}">
</head>
<body>
<div class="scanlines"></div>
  <div class="container">
    <div class="error-code">403</div>
    <p class="message">You don't have permission to touch this. This fridge is locked.</p>
    <a href="/" style="
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #00ff6a;
    background: transparent;
    border: 2px solid #00ff6a;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
">Home</a>
    <div class="scene">
      <img src="{% static 'images/fridge_chain.svg' %}" alt="fridge">
    </div>

  <p class="message">This error usually means you tried to edit/delete a record that was created by someone else.</p>
  <br>
  </div>

</body>
</html>