{% load static %}


<div class="floating-buttons">
<!--    <div class="bubble toggle" onclick="toggleBubbles()">-->
<!--        <img src="{% static 'images/hamburger-menu.svg' %}" width="24" height="24">-->
<!--    </div>-->

    <a href="{% url 'homepage' %}">
        <div class="bubble tooltip menu-item">
                <img src="{% static 'images/home.svg' %}" width="24" height="24">
            <span class="tooltip-text">Home</span>
        </div>
    </a>

    <a href="{% url 'user_grocery_list' %}">
        <div class="bubble tooltip menu-item">
                <img src="{% static 'images/grocery-cart.svg' %}" width="24" height="24">
            <span class="tooltip-text">Groceries</span>
        </div>
    </a>

    <a href="{% url 'meal_list' %}">
        <div class="bubble tooltip menu-item">
                <img src="{% static 'images/fork_knife.svg' %}" width="24" height="24">
            <span class="tooltip-text">Meals</span>
        </div>
    </a>

    <a href="{% url 'calorie-tracker' %}">
      <div class="bubble tooltip menu-item">
            <img src="{% static 'images/kcal.svg' %}"width="24" height="24">
        <span class="tooltip-text">Kcal</span>
        </div>
    </a>

</div>


<script>
function toggleBubbles(){
    document.querySelectorAll('.menu-item').forEach(el=>{
        el.style.display = el.style.display === 'grid' ? 'none' : 'grid';
    });
}
</script>


