{% load static %}

 <footer>
        <div class="footer-top">
            <div>
            <a href="{% url 'homepage' %}">
                <img
                    class="footer-logo"
                    src="{% static 'images/simple_logo.svg' %}"
                    alt="Foodganizer logo"
                >
            </a>

                <ul>
                    <li>Say "Goodbye" to meal-planning anxiety!</li>
                    <li>Track your favourite recipes and plan your meals in one place!</li>

                </ul>
            </div>

            <div>
                <h4>Resources</h4>
                <ul>
                    <li><a  href="{% url 'how_it_works' %}">How it works</a></li>
                    <li><a  href="{% url 'swagger-ui' %}">API</a></li>
                    <li><a href="https://github.com/YoanaBast/healthy_meals">GitHub</a></li>

                </ul>
            </div>


        </div>

        <div class="footer-bottom">
            © {% now "Y" %} Foodganizer. All rights reserved.
        </div>
</footer>