{% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<script src="{% static 'js/navbarDropdownHandler.js' %}" defer></script>

<header>
    <div class="tab-nav">

        <div class="tab-buttons-container">

            <div class="tab-dropdown">
                <button class="tab-button">
                    Create <span class="arrow">⌄</span>
                </button>

                <div class="dropdown-menu">
                    <a href="{% url 'manage_ingredients' %}">Manage Ingredients</a>
                    <a href="{% url 'manage_recipes' %}">Manage Recipes</a>

                </div>
            </div>

            <div class="tab-dropdown">
                <button class="tab-button">
                    Use <span class="arrow">⌄</span>
                </button>

                <div class="dropdown-menu">
                    <a href="{% url 'manage_fridge' %}">Manage Fridge</a>
                    <a href="{% url 'meal_suggestions' %}">Get Meal Ideas</a>
                    <a href="{% url 'generate_grocery_list' %}">Get Grocery List</a>
                    <a href="{% url 'user_grocery_list' %}">Grocery List</a>
                    <a href="{% url 'meal_list' %}">Meals List</a>

                </div>
            </div>

            <div class="tab-dropdown">
                <button class="tab-button">
                    Track <span class="arrow">⌄</span>
                </button>

                <div class="dropdown-menu">
                    <a href="{% url 'biometrics' %}" >BioMetriics</a>
                    <a href="{% url 'calorie-tracker' %}" >KCAL</a>

                </div>
            </div>

        </div>

        <div class="logo">
            <a href="{% url 'homepage' %}">
                <img class="header-logo" src="{% static 'images/simple_logo.svg' %}" alt="logo"/>

            </a>
        </div>

    {% if request.user.is_authenticated %}
        <div class="nav-top-links">

        <a href="{% url 'profile' %}">
        <img src="{% static 'images/profile.svg' %}" width="50" height="30">
        </a>


        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn-invisible">
                <img src="{% static 'images/logout.svg' %}" width="50" height="30">
            </button>
        </form>
    </div>

    {% else %}
        <div class="nav-links">

        <li><a href="{% url 'login' %}" class="nav-auth-link">Login</a></li>
        <li><a href="{% url 'register' %}" class="nav-auth-link">Register</a></li>
    </div>

    {% endif %}



    </div>
</header>
